element.style {
    --split-scroll-sticky: sticky;
    --split-scroll-height: fit-content;
}
@media screen and (max-width: 47.9375rem)
.core-container.svelte-xgsrjc.svelte-xgsrjc > *:not(:first-child) {
    --vertical-spacing-default: var(--vertical-spacing-mobile);
    --vertical-spacing: var(--layout-spacing-mobile, var(--vertical-spacing-mobile));
}
@media screen and (max-width: 64rem)
.core-container.svelte-xgsrjc.svelte-xgsrjc > *:not(:first-child) {
    --vertical-spacing-default: var(--vertical-spacing-tablet);
    --vertical-spacing: var(--layout-spacing-tablet, var(--vertical-spacing-tablet));
}
.core-container.svelte-xgsrjc.svelte-xgsrjc > *:not(:first-child) {
    --vertical-spacing-default: var(--vertical-spacing-desktop);
    --vertical-spacing: var(--layout-spacing-desktop, var(--vertical-spacing-desktop));
    margin-top: var(--vertical-spacing);
}
@media screen and (max-width: 47.9375rem)
.header-group.svelte-owj1zo {
    display: flex;
    flex-direction: column;
}
.header-group.svelte-owj1zo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--grid-gap);
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
user agent stylesheet
div {
    display: block;
}
.core-container.svelte-xgsrjc.svelte-xgsrjc {
    position: relative;
    color: #111111;
    padding-bottom: 6.5rem;
    max-width: var(--container-max-width);
    margin: auto;
    box-sizing: border-box;
    padding: 0 var(--container-spacing-desktop);
    margin-bottom: var(--end-page-bottom-spacing);
}
@media screen and (max-width: 64rem)
body.core-intro.bright {
        --menu-text-color: var(--js-scroll-past-intro-menu-text-color, #fff);
    }

@media screen and (max-width: 64rem)
body.core-intro {
        --menu-left-side-bg: var(--js-scroll-past-intro-menu-bg, transparent);
        --menu-right-side-bg: var(--js-scroll-past-intro-menu-bg, transparent);
    }
body.core-intro {
    --menu-left-side-bg: #fffefb;
    --menu-right-side-bg: var(--js-scroll-past-intro-menu-bg, transparent);
    --menu-background-color: linear-gradient(to right, var(--menu-left-side-bg) 50%, var(--menu-right-side-bg) 50%);
}
body {
    background: var(--background-color, #fffefb);
    overflow-x: hidden;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    height: auto;
}
style attribute {
    --js-scroll-past-intro-menu-bg: #fffefb;
    --js-scroll-past-intro-menu-text-color: #111;
}
@media screen and (max-width: 47.9375rem)
:root {
    --grid-gap: 1rem;
    --end-page-bottom-spacing: 8rem;
    --container-spacing: var(--container-spacing-mobile);
}
@media screen and (max-width: 64rem)
:root {
    --grid-gap: 3rem;
    --end-page-bottom-spacing: 8rem;
    --container-spacing: var(--container-spacing-tablet);
}
:root {
    --vertical-spacing-desktop: 6rem;
    --vertical-spacing-tablet: 4rem;
    --vertical-spacing-mobile: 4rem;
    --end-page-bottom-spacing: 16rem;
    --rounded-corners: 0.5rem;
    --container-spacing: var(--container-spacing-desktop);
    --grid-gap: 1.5rem;
}
:root {
    --background-color: #FFFEFB;
}
:root {
    --footer-background-color-default: #0058a3;
    --footer-text-color-default: #ffffff;
    --footer-illustration-url-default: url(https://www.ikea.com/global/en/images/footer-illustration.svg);
    --footer-clock-display-default: 'initial';
    --footer-clock-scale-default: 1;
}
@media screen and (max-width: 47.9375rem)
:root {
    --navigation-height: 4.25rem;
}
:root {
    --navigation-max-width: 90rem;
    --navigation-spacing-desktop: 1.5rem;
    --navigation-spacing-tablet: 1rem;
    --navigation-spacing-mobile: 1rem;
    --navigation-height: 6rem;
    --mobile-menu-width: 25.625rem;
}
:root {
    --main-bg-onetrust: #ffffff;
    --secondary-bg-onetrust: #f5f5f5;
    --confirm-onetrust: #0058a3;
    --link-onetrust: #3860be;
    --dark-onetrust: #111;
    --light-onetrust: #fff;
    --light-dark-onetrust: #929292;
    --border-onetrust: #ddd;
    --box-border-radius: 0.5rem;
    --content-border-radius: 0.125rem;
}
:root {
    --container-max-width: 90rem;
    --container-spacing-desktop: 1.5rem;
    --container-spacing-tablet: 1rem;
    --container-spacing-mobile: 1rem;
    --archive-page-header-bottom-margin: 1.875rem;
}
@media screen and (max-width: 47.9375rem)
:root {
    --breadcrumbs-spacing-horizontal: var(--navigation-spacing-mobile, 1rem);
}
@media screen and (max-width: 64rem)
:root {
    --breadcrumbs-spacing-horizontal: var(--navigation-spacing-tablet, 1rem);
}
:root {
    --breadcrumbs-spacing-top: 2rem;
    --breadcrumbs-spacing-bottom: 3rem;
    --breadcrumbs-spacing-horizontal: var(--navigation-spacing-desktop, 1.5rem);
    --breadcrumbs-text-color: var(--text-color, #111);
    --breadcrumbs-background: var(--background-color, #fffefb);
}

:root {
    --focus-visible-relative-for-accessibility: relative;
}
:root {
    --ikea-font: 'Noto IKEA', 'Noto Sans', 'Roboto', 'Open Sans', system-ui, sans-serif !important;
    font-family: var(--ikea-font);
}
injected stylesheet
:host, :root {
    --rem: 16;
}
/* Rotation Classes */
.right {
    transform: rotate(180deg);
}

.up {
    transform: rotate(90deg);
}

.down {
    transform: rotate(-90deg);
}

/* Overlay Styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-index);
    cursor: pointer;
    transition: opacity 400ms linear;
}

.overlay.hidden {
    opacity: 0;
    pointer-events: none;
}

.dark {
    opacity: 0.6;
    background: black;
}

/* SVG Styles */
svg {
    font-size: 1em;
    flex-shrink: 0;
}

.up {
    transform: rotate(180deg);
}

.down {
    transform: rotate(0);
}

.left {
    transform: rotate(90deg);
}

.right {
    transform: rotate(270deg);
}

.use-transition {
    transition: transform 0.3s;
}

.animate-right.up {
    transform: rotate(-180deg);
}

.animate-right.down {
    transform: rotate(0);
}

.animate-right.left {
    transform: rotate(-270deg);
}

.animate-right.right {
    transform: rotate(-90deg);
}

/* Holder Styles */
.holder {
    border-radius: 0.5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background: #ffdb00;
    width: 100%;
    min-height: 100%;
    flex-direction: column;
    overflow: hidden;
}

/* Region Picker Styles */
.region-picker {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    flex: 1;
}

button {
    cursor: pointer;
}

.pick {
    box-sizing: border-box;
    color: #111111;
    border: none;
    margin: 0;
    min-height: 5rem;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1;
    background: transparent;
    border-top: 0.0625rem solid var(--background-color, #fffefb);
    transition: background 300ms;
}

.pick.open {
    background: #fff094;
}

.pick:hover {
    background: #fff094;
}

/* Picked Site Styles */
.picked-site {
    display: flex;
    align-items: center;
}

.picked-site > span {
    max-width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.picked-site .site {
    font-weight: bold;
}

.picked-site .chevron {
    margin-left: auto;
    margin-right: 0.5rem;
}

/* Website Link Styles */
.website-link {
    box-sizing: border-box;
    min-height: 5rem;
    display: flex;
    align-items: center;
    width: 100%;
    color: #111111;
    text-decoration: none;
    padding: 0 1rem;
    font-size: 1.5625rem;
    line-height: 120%;
    font-weight: 700;
    margin: 0;
    letter-spacing: -0.03375rem;
}

.website-link:hover .arrow-container {
    background: #333333;
}

.website-link .arrow-container {
    background: #111111;
    color: #ffffff;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

@media (hover: hover) and (pointer: fine) {
    .website-link .arrow-container:hover {
        background: #333333;
    }

    .website-link .arrow-container:active {
        background: #000000;
    }
}

/* Menu Styles */
.menu {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-top: 0.0625rem solid var(--background-color, #fffefb);
    padding: 0 1rem;
}

.menu .menu-content {
    background: #fff094;
    border-radius: 0.5rem;
    padding: 0.625rem;
    margin: 1rem 0;
    position: relative;
}

.menu .sr-only {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: 0.0625rem;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 0.0625rem;
}

.search-icon {
    position: absolute;
    left: 1.25rem;
    top: 1.375rem;
}

.search-input {
    box-sizing: border-box;
    margin: 0px 0px 8px 0px;
    font-size: 1rem;
    padding: 0.75em 0 0.75em calc(42 / 16 * 1em);
    min-height: calc(1rem + (2 * 0.75em));
    width: 100%;
    background: #ffffff;
    border: none;
    border-radius: 8px;
    -webkit-appearance: none;
}

.search-input::-ms-clear {
    display: none;
}

.search-input:focus {
    background: #ffffff !important;
}

.option {
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    width: 100%;
    text-align: left;
    height: 2.5rem;
    background: #fff094;
    padding: 0 0.5rem;
}

.option:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
}

.lang {
    font-weight: normal;
    font-size: 0.9rem;
}

ul {
    max-height: calc(2.5rem * 3);
    box-sizing: border-box;
    background: transparent;
    overflow: auto;
}

@media (hover: hover) and (pointer: fine) {
    ul {
        scrollbar-color: rgba(17, 17, 17, 0.5) transparent;
        scrollbar-width: thin;
    }

    ul::-webkit-scrollbar {
        width: 0.375rem;
        border-radius: 0.25rem;
    }

    ul::-webkit-scrollbar-track {
        background: transparent;
    }

    ul::-webkit-scrollbar-track:hover {
        background: transparent;
    }

    ul::-webkit-scrollbar-thumb {
        background-clip: content-box;
        background: rgba(17, 17, 17, 0.5);
        border-radius: 0.25rem;
    }
}

.search-input.focus-visible {
    background: #ffffff !important;
    border: none !important;
    box-shadow: none !important;
}

/* Mini Picker Container Styles */
.mini-picker-container {
    border-radius: 0.5rem;
    box-sizing: border-box;
    background: #ffdb00;
    flex-direction: column;
    height: 3rem;
    color: #111111;
    transition: transform 500ms ease;
    transform: translateY(0);
}

.mini-picker-container.open {
    border-radius: 0.5rem 0.5rem 0 0;
}

/* Mini Picker Styles */
.mini-picker {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    flex: 1;
}

.pick {
    position: relative;
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0.5rem 1.5rem 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1;
    background: transparent;
    overflow: hidden;
}

.pick::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 0.0625rem;
    height: 100%;
    background-color: #fffefb;
    transition: 300ms ease;
}

.pick.open::before {
    transform: translateY(-4rem);
}

.pick:hover .chevron-opening {
    transform: translateY(0.1875rem);
}

.pick:hover .chevron-closing {
    transform: translateY(-0.1875rem);
}

.pick-site {
    display: flex;
    align-items: center;
}

.pick-site span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.pick-site .site {
    font-weight: bold;
}

.pick-site .chevron {
    transition: transform 200ms linear;
    margin-left: 1.5rem;
}

/* Website Link in Mini Picker Styles */
.website-link {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    color: #111111;
    text-decoration: none;
    padding: 0.5rem;
}

.website-link:hover .arrow-container {
    background: #333333;
    transform: translateX(0.1875rem);
}

.website-link .arrow-container {
    background: #111111;
    color: #ffffff;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 200ms linear;
}

@media (hover: hover) and (pointer: fine) {
    .website-link .arrow-container:hover {
        background: #333333;
    }

    .website-link .arrow-container:active {
        background: #000000;
    }
}

/* Menu in Mini Picker Styles */
.menu {
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: #ffdb00;
    padding: 0 0.5rem 0.5rem;
    border-radius: 0 0 0.5rem 0.5rem;
}

.menu .menu-content {
    background: #fff094;
    border-radius: 0.5rem;
    padding: 0.625rem;
    position: relative;
}

.menu .sr-only {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: 0.0625rem;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 0.0625rem;
}

.search-icon {
    position: absolute;
    left: 1.25rem;
    top: 1.375rem;
}

.search-input {
    box-sizing: border-box;
    margin: 0;
    font-size: 1rem;
    padding: 0.75em 0 0.75em calc(42 / 16 * 1em);
    min-height: calc(1rem + (2 * 0.75em));
    width: 100%;
    background: #ffffff;
    border: none;
    border-radius: 8px;
    -webkit-appearance: none;
}

.search-input::-ms-clear {
    display: none;
}

.search-input:focus {
    background: #ffffff !important;
}

.option {
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    width: 100%;
    text-align: left;
    min-height: 2.5rem;
    background: #fff094;
    padding: 0 0.5rem;
}

.option:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
}

.lang {
    font-weight: normal;
    font-size: 0.9rem;
}

ul {
    margin-top: 0.5rem;
    max-height: calc(2.5rem * 6);
    box-sizing: border-box;
    background: transparent;
    overflow: auto;
}

@media (hover: hover) and (pointer: fine) {
    ul {
        scrollbar-color: rgba(17, 17, 17, 0.5) transparent;
        scrollbar-width: thin;
    }

    ul::-webkit-scrollbar {
        width: 0.375rem;
        border-radius: 0.25rem;
    }

    ul::-webkit-scrollbar-track {
        background: transparent;
    }

    ul::-webkit-scrollbar-track:hover {
        background: transparent;
    }

    ul::-webkit-scrollbar-thumb {
        background-clip: content-box;
        background: rgba(17, 17, 17, 0.5);
        border-radius: 0.25rem;
    }
}

.search-input.focus-visible {
    background: #ffffff !important;
    border: none !important;
    box-shadow: none
